    @using AppBanwao.KaryKart.Web.Helpers
@{
    string fullname = (User as CustomPrincipal) != null?(User as CustomPrincipal).FullName:string.Empty;
    bool profileComplete = (User as CustomPrincipal) != null ? (User as CustomPrincipal).ProfileComplete : false;
    string UserID =  (User as CustomPrincipal) != null ? (User as CustomPrincipal).UserID.ToString() : string.Empty;
}  


    <div class="collapse navbar-collapse pull-right" id="bs-example-navbar-collapse-2">
      
        @if (!(User.Identity.IsAuthenticated))
        {

                <a href="#" onclick="OpenModal('loginModal')" class="btn btn-primary bluegreen "><i class="fa fa-sign-in"></i> Login/Register</a>
           
        }
        else
        {
          <ul class="nav navbar-nav">
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-user"></i> @fullname <span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">

        <li><a href="@Url.Action("MyAccount","Account")">My Account 
                                       @if (!profileComplete)
                                       {
                                           <span class="badge">Incomplete</span>
                                       }
                                   </a></li>
        <li><a href="#">My Orders</a></li>
        <li class="divider"></li>
        <li><a href="@Url.Action("Logout","Account")"><i class="fa fa-sign-out"></i> Logout</a></li>
        
    </ul>
</li>
               </ul>
        }
       
     
    </div>
<script type="text/javascript">
    function storeUserID() {
        if (sessionStorage.getItem("UserID") == null) {
            sessionStorage.setItem('@UserID');
        }
    }

    storeUserID();
</script>