@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}

<div class="row">
    <div class="col-md-12">
        @if(User.IsInRole("Administrator")){
         @Html.Partial("_PartialAdminCards")
         @Html.Partial("_PartialSalesChart")
        }
        else{
        @Html.Partial("_PartialSlider")
        }
    </div>
</div>
